.header {
  background-color: white;
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  justify-content: space-between;
}
